<!--<ng-container *access="{condition:['admin_dashboard'],requiredAll:true,redirect:true}">-->
<div class="theme-layout webView" id="scrollup">

  <!-- <section class="overlape">
    <div class="block no-padding">
      <div class="parallax scrolly-invisible no-parallax"
           data-velocity="-.1"
           style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"></div>
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Welcome ADMIN</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section>
    <div class="block no-padding">
      <div class="container">
        <div class="row no-gape">
          <aside class="col-lg-3 column border-right">
            <!--<app-sidebar-candidate></app-sidebar-candidate>-->
          </aside>
          <div class="col-lg-12 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <h2 style="color: #e83e8c">METADATA</h2>
                <div class="cat-sec">
                  <div class="row no-gape">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/age-range']" title="">
                          <i class="la la-edit"></i>
                          <h4>Age Range</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category ">
                        <a [routerLink]="['/admin/job-title']" title="">
                          <i class="la la-edit"></i>
                          <h4>Job Title</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/education-level']" title="">
                          <i class="la la-edit "></i>
                          <h4>Education Level/Type</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/language']" title="">
                          <i class="la la-edit"></i>
                          <h4>Language</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/career-level']" title="">
                          <i class="la la-edit"></i>
                          <h4>Career Level</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/category']" title="">
                          <i class="la la-edit"></i>
                          <h4>Category</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/currency']" title="">
                          <i class="la la-edit"></i>
                          <h4>Currency</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/experience-range']" title="">
                          <i class="la la-edit"></i>
                          <h4>Experience Range</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/industry']" title="">
                          <i class="la la-edit"></i>
                          <h4>Industry</h4>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="manage-jobs-sec">
                <h2 style="color: #e83e8c">USERS</h2>
                <div class="cat-sec">
                  <div class="row no-gape">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category">
                        <a [routerLink]="['/admin/candidates']" title="">
                          <i class="la la-edit"></i>
                          <h4>Candidates</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="p-category ">
                        <a [routerLink]="['/admin/companies']" title="">
                          <i class="la la-edit"></i>
                          <h4>Companies</h4>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--</ng-container>-->
