<footer class="style3">
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 column">
          <div class="widget">
            <div class="about_widget">
              <div class="logo">
                <!-- <a href="#" title=""><img src="http://placehold.it/112x31" alt="" /></a> -->
              </div>
              <span>Collin Street West, Victor 8007, Australia.</span>
              <span>+1 246-345-0695</span>
              <span>info@jobhunt.com</span>
              <div class="social">
                <a href="#" title=""><i class="la la-facebook"></i></a>
                <a href="#" title=""><i class="la la-twitter"></i></a>
                <a href="#" title=""><i class="la la-linkedin"></i></a>
                <a href="#" title=""><i class="la la-pinterest"></i></a>
              </div>
            </div><!-- About Widget -->
          </div>
        </div>
        <div class="col-lg-4 column">
          <div class="widget">
            <h3 class="footer-title">Frequently Asked Questions</h3>
            <div class="link_widgets">
              <div class="row">
                <div class="col-lg-6">
                  <a href="#" title="">Privacy & Security </a>
                  <a href="#" title="">Terms of Service</a>
                  <a href="#" title="">Communications </a>
                  <a href="#" title="">Referral Terms </a>
                  <a href="#" title="">Lending Licenses </a>
                  <a href="#" title="">Disclaimers </a>
                </div>
                <div class="col-lg-6">
                  <a href="#" title="">Support </a>
                  <a href="#" title="">How It Works </a>
                  <a href="#" title="">For Employers </a>
                  <a href="#" title="">Underwriting </a>
                  <a href="#" title="">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 column">
          <div class="widget">
            <h3 class="footer-title">Find Jobs</h3>
            <div class="link_widgets">
              <div class="row">
                <div class="col-lg-12">
                  <a href="#" title="">US Jobs</a>
                  <a href="#" title="">Canada Jobs</a>
                  <a href="#" title="">UK Jobs</a>
                  <a href="#" title="">Emplois en Fnce</a>
                  <a href="#" title="">Jobs in Deuts</a>
                  <a href="#" title="">Vacatures China</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 column">
          <div class="widget">
              <h3 class="footer-title">Common Links</h3>
            <div class="download_widget">
                <div class="link_widgets">
                    <div class="row">
                      <div class="col-lg-12">
                        <a [routerLink]="['/about']" title="">About us</a>
                        <a [routerLink]="['/contact']"title="">Contact us</a>
                        <a [routerLink]="['/faq']" title="">FAQ's</a>
                        <a [routerLink]="['/how-it-works']"  title="">how it works</a>
                        <a [routerLink]="['/terms-and-condition']" title="">Terms & Conditions</a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line style3">
    <div class="container">
      <span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
      <a class="back-top" href="#scrollup" title=""><i class="la la-long-arrow-up"></i></a>
    </div>
  </div>
</footer>
